/* 
====== 
SASS variables 
======
*/
$clr-andre-submit-button: #06d11b;
$clr-andre-blue: #3d5a89;
$clr-andre-grey: #b3b8c0;
$clr-andre-transparent-grey: rgba(179,184,192, 0.7);
$clr-andre-transparent-blue: rgba(61,90,137, 0.7);
$clr-andre-white: #fbfdff;
$clr-andre-transparent-grey-shadow:0 1px 3px rgba(179,184,192, 0.2);
$clr-andre-transparent-blue-shadow:0 1px 3px rgba(61,90,137, 0.2);
$clr-andre-submit-button: #06d11b;

$bcg-andre-right: linear-gradient( to right, #3d5a89  , #b3b8c0 );
$horizontal-padding: 250px;


// Instructor Variables:
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #70707b;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;